{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Visit Application</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <header>
        <h1>Mars Visit Application</h1>
    </header>

    <div class="form-container">
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </div>

    
</body>
</html>
